@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
}

input, select, textarea {
  @apply bg-white dark:bg-slate-800 border border-slate-300 dark:border-slate-700 rounded-lg px-3 py-2;
}
button {
  @apply rounded-lg;
}
